.file-input {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.file-input-custom {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    padding: 5px 0px;
    cursor: pointer;
}

.file-input-custom:hover {
    box-shadow: 1px 1px 4px white;
}